<h1>Welcome to the Homepage</h1>
<h2>Non registered and registered user can view this page</h2>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
